@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&display=swap');
* {
  margin: 0;
  max-width: 100%;
}
header {
  background-color: #333;
  width: 100%;
  height: auto;
}
main {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
}
footer {
  background-color: #333;
  width: 100%;
  height: 300px;
}
#logo {
  display: block;
  width: 100px;
  margin: auto;
  padding-top: 20px;
}
#menu {
  color: #fff;
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}
#title {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  font-family: 'Acme', sans-serif;
}
#joinBtn {
  display: block;
  margin: 20px auto;
  width: 120px;
  padding: 5px;
  background-color: #77adeb;
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#joinBtn:hover {
  cursor: pointer;
  background-color: #3879ce;
}
li:hover {
  cursor: pointer;
  border-bottom: 2px solid green;
}
#menuBar {
  display: none;
  color: #fff;
}

/* for tablet view*/
@media screen and (max-width: 768px) {
  #logo {
    width: 60px;
    margin: 20px;
  }
  #menu {
    position: absolute;
    top: 25px;
    right: 30px;
  }
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  max-width: 90%;
  margin: 50px auto;
}
.section{
  color: #fff;
  text-align: center;
  width: 200px;
  padding: 10px;
}
h4{
  margin-bottom: 20px;
  font-family: 'Acme', sans-serif;
}
.text{
  line-height: 20px;
}
.image{
  width: 100%;
  min-height: 220px;
  max-height: 220px;
  object-fit: cover;
}
.main-section{
  width: 200px;
}
#main-image{
  width: 100%;
  height: 350px;
  background-image: url(images/unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

#container2{
  width: 80%;
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin: 50px auto;
}
.items2{
  width: 250px;
  margin-bottom: 20px;
  display: flex;
}
.fa-anchor{
  margin-right: 10px;
  font-size: 1.5rem;
}
#container3{
  max-width: 50%;
  margin: 50px auto;
  text-align:center;
}
.fa-users{
  font-size: 3rem;
  color: #333;
}
#container4{
  max-width: 80%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin: 50px auto;
}
#container4 img{
  max-width: 250px;
  margin-bottom: 20px;
}

/* for the mobile view*/
@media screen and (max-width: 480px) {
  #menu {
    display: none;
  }
  #menuBar {
    display: block;
    position: absolute;
    top: 25px;
    right: 30px;
  }
  #container{
    flex-direction: column;
  }
}
