.hello {
  background-color: rgb(0, 31, 66);
  color: white;
  font-weight: bolder;
}

.error{
  color: darkred;
}
.success{
  color: darkgreen;
}
.warning{
  color: orange;
}

.wrapper{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card{
  border: 2px solid green;
  width: 160px;
}

/* DOM Challenge */
header{
  background-color:aqua;
  height: 130px;
}
h1{
  text-align: center;
}

.skill{
  border: 2px solid #555;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  max-width: 220px;
  min-width: 220px;
  text-align: center;
}

.skillSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80%;
  margin: 20px auto;
}

